@import "uikit/src/less/uikit.theme.less";
@navbar-background: black;

.link-reason-modal .uk-modal-dialog {
	border: 2px solid @global-primary-background;
	border-radius: 6px;
	overflow: hidden;
}

.link-reason-modal .uk-modal-title {
	font-size: 1.1rem;
}

.link-reason-modal .uk-description-list {
	margin-bottom: 0;
}
